{% extends 'base.html' %}

{% block intro %}
  Press Users or Groups button bellow to get information about them
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(function() {
    $(".users").on("click", function(){
        $.getJSON('http://localhost:8080' + '/users',
            function(data) {
                console.log(data);
                var tbl_body = "";
                $.each(data.users, function() {
                    var tbl_row = "";
                    $.each(this, function(k , v) {
                        tbl_row += "<td>"+v+"</td>";
                    })
                    tbl_body += "<tr>"+tbl_row+"</tr>";
                    console.log(tbl_row);
                })
                $("#result tbody").html(tbl_body);
            });
        return false;
    });

    $(".groups").on("click", function(){
        $.getJSON('http://localhost:8080' + '/groups',
            function(data) {
                console.log(data);
                var tbl_body = "";
                $.each(data.groups, function() {
                    var tbl_row = "";
                    $.each(this, function(k , v) {
                        tbl_row += "<td>"+v+"</td>";
                    })
                    tbl_body += "<tr>"+tbl_row+"</tr>";
                    console.log(tbl_row);
                })
                $("#result tbody").html(tbl_body);
            });
        return false;
    });
});
 </script>
{% endblock %}